<script>
	import { page } from '$app/stores';
	import '../app.css';

	const nav = [
		{ title: 'Home', path: '/home' },
		{ title: 'Login', path: '/login' },
		{ title: 'Register', path: '/register' },
	];
</script>

<nav class="flex justify-center flex-wrap bg-teal-500 p-6">
	<ul class="flex space-x-10 justify-center font-semibold text-2xl">
		{#each nav as item}
			<li class="mr-6">
				<a class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4" class:active={$page.pathname === item.path} href={item.path}>
					{item.title}
				</a>
			</li>
		{/each}
	</ul>
</nav>
<slot />

<style>

</style>
