<script>
    
</script>

<div class="bg-[url('../background.jpg')] h-screen w-full bg-no-repeat bg-cover bg-left bg-fixed">
    <br><br><br><br><br><br>
    <h1 class="text-center font-bold text-black text-6xl">Welcome to My-App!</h1>
    </div>
    
<style>
        
</style>