<script>
    import {goto} from '$app/navigation'
	import {logoutURL} from '../constants.js'
	import {getUsernameURL} from '../constants.js'

	let username;

    async function logout() {
		error = undefined
		try{
			const res = await fetch(logoutURL, {
				method: "GET",
			})
			if(res.message == true){
				goto("/login")
			}else{
				error = 'Invalid username or password'
			}
		}catch(err){
			console.log(err)
			error = 'An error occured';
		}
	}

	async function get_username(){
		error = undefined
		try{
			const res = await fetch(getUsernameURL, {
				method: "GET",
			})
			username = res;
		}catch(err){
			console.log(err)
			error = 'An error occured';
		}
	}
	
	fetch(getUsernameURL)
	.then(response => response.json())
	.then(data => {
		username = data;
	});

</script>

<div class="bg-[url('../background.jpg')] h-screen w-full bg-no-repeat bg-cover bg-left bg-fixed">
    <br><br><br><br><br><br>
    <h1 class="text-center font-bold text-black text-6xl">Profile Page of {username["username"]}</h1>

    <button on:click="{logout}">Logout</button>
</div>
    
<style>

</style>