<script>
  import {confirmTokenURL} from '../constants.js'
  import {generateTokenURL} from '../constants.js'

  let token;
  fetch(generateTokenURL)
  .then(response => response.json())
  .then(data => {
    token = data;
  });

  async function confirm_token() {
		error = undefined
		try{
			const res = await fetch(confirmTokenURL, {
				method: "GET",
			})
			if(res.message == true){
				goto("/reset_password")
			}else{
				error = 'An error occured'
			}
		}catch(err){
			console.log(err)
			error = 'An error occured';
		}
	}

</script>

<div class="flex flex-wrap -m-4">
  <div class="p-4 md:w-1/2 w-full">
    <div class="h-full bg-gray-100 p-8 rounded">
      {#if token}
      <a href="{confirm_token}" class="leading-relaxed mb-6">{"http://localhost:5001/api/v1.0/" + token["confirm"]}</a>
      {/if}
    </div>
  </div>
</div>