<script>
    import {goto} from '$app/navigation'
	import {updatePasswordURL} from '../constants.js'

	let new_password;
	let confirmed_new_password;
	let error;

	async function update_password() {
		error = undefined
        if(new_password == confirmed_new_password){
            try{
                const res = await fetch(updatePasswordURL, {
                    method: "POST",
                    body: JSON.stringify({
                        new_password,
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                if(res.message == true){
                    goto("/login")
                }else{
                    error = 'Invalid username or password'
                }
            }catch(err){
                console.log(err)
                error = 'An error occured';
            }
        }else {
            error = 'Please enter the same password.'
        }
	}
</script>

<div class="bg-[url('../background.jpg')] w-full h-screen bg-no-repeat bg-cover bg-left bg-fixed">
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
            <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
                <h2 class="text-center text-gray-900 text-lg font-medium title-font mb-5">Login</h2>
                <div class="relative mb-4">
                    <form on:submit={update_password}>
                    <label for="new_password" class="leading-7 text-sm text-gray-600">New Password</label>
                    <input type="password" bind:value={new_password} name="new_password" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    <label for="confirm_new_password" class="leading-7 text-sm text-gray-600">Confirm New Password</label>
                    <input type="password" bind:value={confirmed_new_password} name="confirmed_new_password" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    {#if error}<span class="error text-red-500">{error}</span>{/if}
                    <br><br><input type="submit" value="Submit" class="text-center text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"/>
                    </form>
                </div>
            </div>
        </div>
    </section>
    </div>